<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS DOM Manipulation</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">
	<button ng-show="showClickButton" ng-click="showClickMe()">Show Click Me!</button>
	<button ng-hide="hideClickButton" ng-click="hideClickMe()">HIde Click Me!</button>
	<button ng-disabled="disableMe" ng-click="clickMe()">Click Me!</button>
	<button ng-show="showButton" ng-click="showMe()">Show Button</button>
	<button ng-hide="hideButton" ng-click="hideMe()">Hide Button</button>
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope) {
			$scope.disableMe = false;
			$scope.showButton = false;
			$scope.hideButton = true;
			$scope.showClickButton = true;
			$scope.hideClickButton = false;
			$scope.total = 0;
			$scope.clickMe = function() {
				$scope.disableMe = true;
				$scope.total += 1;
			};
			$scope.showMe = function() {
				$scope.showButton = true;
			};
			$scope.hideMe = function() {
				$scope.hideButton = true;
				$scope.showButton = false;
			};
			$scope.showClickMe = function() {
				$scope.hideClickButton = false;
				$scope.showClickButton = true;
			};
			$scope.hideClickMe = function() {
				$scope.hideClickButton = true;
				$scope.showClickButton = false;
			};
		});
	</script>
</body>
</html>

