<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>AngularJS Button Interactions</title>
	<script src="./angular.min.js"></script>
</head>
<body>
	<div ng-controller="myController">
		<button ng-click="incrementCount()" ng-disaled="disabled">Click Me!</button>
		<button ng-show="showButton" ng-click="toggleShow()">Hide Button to Click Me!</button>
		<button ng-hide="showButton" ng-click="toggleShow()">Show Button</button>
		<p>Total times the button is clicked: {{clickCount}}</p>
	</div>
	<script>
		angular.module('myApp', []).controller('myController', function($scope) {
			$scope.clickCount = 0;
			$scope.disabled = false;
			$scope.showButton = true;
			$scope.incrementCount = function() {
				$scope.clickCount++;
			};
			$scope.toggleShow = function() {
				$scope.showButton = !$scope.showButton;
			};
		});
	</script>
</body>
</html>
